{% extends "base.html" %}

{% block title2 %}{% block title1 %}{{ title }}{% endblock %} {% endblock %}

{% block content %}
    {% block def_button %} {% endblock %}
    <p>Выбрана неделя: <b>{{ cur_week.num }}</b></p>
    <div class="pagination">
        <ul>
            {% for week in weeks %}
                <li class="{% if week.id == cur_week.id %}disabled{% else %}enabled{% endif %}">
                <a href="/{{ req }}/{{ id }}/{{ week.id }}">{{ week.num }}</a>
            {% endfor %}
        </ul>
    </div>

{% block table %}

{% endblock %}

{% endblock %}