{% extends "pairs_list.html" %}

{% block table %}
        <table border="1" class="table table-bordered">
        <tr>
            <th class="span1">Пара</th>
            <th class="span1">Группа</th>
            <th class="span1">Подгруппа</th>
            <th class="span3">Дисциплина</th>
            <th class="span1">&nbsp;</th>
            <th class="span1">Аудитория</th>
        </tr>
        {% for day in days %}

            <tr>
                <th colspan="8">{{ day.0 }} ({{ day.2 }})</th>
            </tr>

            {% for pair in day.1 %}
                <tr>
                    <td>{{ pair.pair_numbers }}</td>
                    <td><a href="/group/{{ pair.group_id }}">{{ pair.group.name }}</a></td>
                    <td>{{ pair.subgroup.name }}</td>
                    <td>{{ pair.subject }}</td>
                    <td>{{ pair.pair_type }}</td>
                    <td>{{ pair.aud.name }}</td>
                </tr>
            {% endfor %}
        {% endfor %}
    </table>
{% endblock %}